<!DOCTYPE html>
<html>
<head>
  <title>StackOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "Stack Overflow", questions_path, class: "navbar-brand" %>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", questions_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <% if current_user.admin %>
                <li><%= link_to "User Management", users_path %></li>
              <% end %>
              <li><%= current_user.email %></li>
              <li><%= link_to "Log out", log_out_path %></li>
            <% else %>
              <li><%= link_to "Log in", log_in_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
